
<div class="footer">
  <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="30px">
    <div fxFlex>
      <a href="#">
        <img src="../../assets/images/insightiv-logo.jpeg" />
      </a>
    </div>
    <div fxFlex>
      <div>
        <p class="larger-text bolder-text">Links</p>
      </div>
      <div>
        <p class="lighter-text">
          <a href="#">Home</a><br>
          <a href="#">About Us</a><br>
          <a href="#">Mission & Vision</a><br>
          <a href="#">Team</a><br>
          <a href="#">Contact Us</a><br>
          <a href="#">FAQs</a><br>
        </p>
      </div>
    </div>
    <div fxFlex>
      <div>
        <p class="larger-text bolder-text">Our Contacts</p>
      </div>
      <div>
        <p>
          <span class="larger-text bolder-text">Kigali, Rwanda</span><br>
          <span class="lighter-text">KN 2 Rd, Makuza Peace Plaza</span><br>
          <span class="lighter-text">+250 780 000 000</span><br>
          <span class="lighter-text">
            <a href="mailto:info@insightiv.ai">info@insightiv.ai</a>
          </span><br>
        </p>

        <p>
          <span class="larger-text bolder-text">Boston, USA</span><br>
          <span class="lighter-text">Street Name, Address</span><br>
          <span class="lighter-text">+1 111 000 000</span><br>
          <span class="lighter-text">
            <a href="mailto:info@insightiv.ai">info@insightiv.ai</a>
          </span><br>
        </p>
      </div>
    </div>
  </div>
  <div>
    <p class="small-text lighter-text center-text">© 2019 - 2021, Insightiv. All rights reserved.</p>
  </div>
</div>
