// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//   background-color: #353836;
//   color: white;
//   font-family: "Poppins", sans-serif;
// }

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #17a2b8;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

header a {
  text-decoration: none;
}

header .upper-header{
  width: 100%;
  padding: 0 20px;
  background-color: #e1f5fe;
  // height: 100px;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

header .sticky-header{
	position:fixed;
	opacity:0;
	visibility:hidden;
	width: 100%;
  padding: 0 20px;
  background-color: #e1f5fe;
  // height: 100px;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.fixed-header .sticky-header{
	z-index:999;
	opacity:1;
	visibility:visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;	
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

#brand img {
  position: relative;
  height: 120px;
  bottom: 0;
  left: 15px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #17a2b8;
  font-weight: lighter;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 8px 20px;
}

#login {
  border: 1px solid #17a2b8;
}

#signup {
  border: 1px solid #17a2b8;
  background-color: #17a2b8;
}

#signup a {
  color: #fff;
}

#login a {
  color: #17a2b8;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 200px);
  width: 100%;
  top: 120px;
  background-color: #e1f5fe;
  z-index: 999;
  padding-right: 20px;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
