// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$primary-color: (
    500: #17a2b8,
    lighter: #b9e3ea,
    darker: #0d86a0,
    200: #17a2b8, // For slide toggle,
    contrast : (
        500: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);

$insightiv-challenge-primary: mat.define-palette($primary-color);
$insightiv-challenge-accent: mat.define-palette($primary-color);

// The warn palette is optional (defaults to red).
$insightiv-challenge-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$insightiv-challenge-theme: mat.define-light-theme((
  color: (
    primary: $insightiv-challenge-primary,
    accent: $insightiv-challenge-accent,
    warn: $insightiv-challenge-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($insightiv-challenge-theme);